.actionbtn.actionbtn-edit-panel {
    color: var(--main-major);
}

.detached-reload {
    margin-left: var(--spacing-xs);
}

.non-data-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
