.resource-listing-navbar {
    .header-items-right {
        display: flex;
        align-items: center;
        column-gap: var(--spacing-sm);

        .copiable {
            display: flex;
            align-items: center;
            gap: var(--spacing-sm);
        }
    }
}
