.secondary.layout-panel {
    .datapack-board {
        .datapack-board-panel {
            border: var(--bd);
            border-radius: var(--br);
        }
    }

    .datapack-board.upload_resource {
        .datapack-board-panel {
            border: none;
            border-radius: 0;
            background: transparent;
        }
    }
}
