.app-wrapper {
    height: calc(var(--vh, 1vh) * 100);
}

.sort-icon:not(.sort-activated) {
    display: none;
}

.browsing-layout > .secondary {
    // background-color: transparent;
}

.paginated-list__content {
    flex: 1;
}

.paginated-table__content {
    flex: 1;
}

.compose-header.footer-variant {
    padding-left: var(--spacing);
    padding-right: var(--spacing);
}
.disabled-button-action {
    color: rgba(0, 0, 0, 0.25);
}

.no-margin-top {
    margin-top: 0 !important;
}
